[submodule "markdown_slide"]
	path = markdown_slide
	url = https://github.com/adayone/markdown_slide.git
[submodule "pages"]
	path = pages
	url = https://github.com/tzengyuxio/pages.git
[submodule "pandoc_demo"]
	path = pandoc_demo
	url = https://github.com/zzhi191/pandoc_demo.git
